/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,700;0,800;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,400&family=Poppins:wght@100;200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,700;0,800;1,700&family=Poppins:wght@100;200;300;400&display=swap');



:root{
    --bgc1: #cae4eb;
    --bgc2: #FFFEF6; 
    --contPadd: 3% 6%;
    --bs-border-width: none;
}

*{
    /* font-family: Poppins; */
    font-family: Montserrat;
    margin: 0 auto;
}

.contDimensions{
    height: 750px;
    width: 100%;
}

.navbar{
    background-color: black;
}

/*<!-- FIXING HEADER TITLE  -->
<!----------------------- -->*/
    .headerTest{
        background-image: url(/images/header3.jpeg);
        padding :5rem 5rem;
        font-family: Montserrat;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
    }

    .headerTest div{
        margin: 0;
        /* margin-left: 2rem; */
    }

    .headerTest div h2{
        text-transform: uppercase;
        font-weight: 200;
        line-height: 3.5rem;
        font-size: 5rem;
    }
    .headerTest div h3{
        text-transform: uppercase;
        font-weight: 200;
        font-size: 4rem;
    }

    @media only screen and (min-width: 0px) and (max-width: 991px) {
        .headerTest div h2 {
            font-size: 3rem;
            line-height: 1.8rem;
        }
        .headerTest div h3 {
            font-size: 2rem;
        }
    }
/*<!-- FIXING HEADER TITLE  -->
<!----------------------- -->*/


/*Header-----------------------------------*/
.headerTitle{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    max-width: 500px;
    /* position: absolute; */
    left: 10%;
    /* font-family: Kanit, sans-serif; */
    margin: 0 auto;
    text-shadow: 5px 1px 55px #fff;
}

.headerTitle > h1{
    letter-spacing: 20px;
    
}

.headerTitle > p{
    letter-spacing: 5px;
    text-align: center;
    margin-top: -25px;
}

.header-logo{
    padding-bottom: 5rem;
}

.header{
    background-image: url("/images/header3.jpeg");
    background-position: center;
    background-size: cover;
    background-position-x: center;
    padding: var(--contPadd);
    background-color: var(--bgc1); /*revisar despues con mas detalle*/
    & h1{
        font-size: 5rem;
        color: #FFF;
        

    }
    & p{
        font-size: 2rem;
        color: #FFF;
    }
    & button{
        width: 330px;
        height: 60px;
        border-radius: 20px;
        border: none;
        background-color: #75c9c9;
        color: #fff;
    }
}

/*Knowme section-----------------------------------*/
.know-me{
    /* max-width: 1365px; */
    padding: var(--contPadd);
    /*overflow-y: scroll;*/
    background-color: var(--bgc2);
    & h1{
        padding-bottom: 2rem;
        font-size: 3.5rem;
        font-weight: 400;

    & img{
        width: 350px;
    }
    }
}

/* .know-cont{
    display: flex;
    flex-direction: column;
} */

knowme-text, p{
    font-size: 1.5rem;
    
}

.container-knowme{
    max-width: 1365px;
    gap: 5rem;
}

.know-img{
    width: 50%;

}

.know-img, img{
    border-radius: 20px;
    width: 600px;
}

.knowme-text{
    width: 50%;
    font-weight: 400;
    & button{
        width: 260px;
        height: 60px;
        background-color: #75c9c9;
        border: none;
        border-radius: 0;
    }
}

/*Slider section TEST-----------------------------------*/
section{
    position: relative;
    width: 100%;
    height: 850px;
}

section p{
    max-width: 1365px;
    text-align: center;
    position: relative;
    top: 70%;
    bottom: 10%;
    padding: 2rem 3rem;
    color: #fff;
    text-shadow: #2B3035 5px 3px 2px;
}

section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .navigation li img{
    width: 40px;
}

section .navigation li{
    transition: 0.2s;
}

section .navigation li:hover{
    opacity: 1;
}

section .navigation li img:hover{
    scale: 1.1;
}

section .navigation{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50px);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .navigation li{
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    opacity: 0.6;
}

/*Properties section-----------------------------------*/
.properties{
    /*padding: var(--contPadd);*/
    padding: 10rem 3rem;
    /*padding: 5rem 10rem 5rem 10rem;*/
    height: 900px;
    /*background-color: var(--bgc1);*/
    background-image: url(/images/A-massage-room.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
    & h1{
        padding-bottom: 2rem;
        font-size: 3.5rem;
        color: #fff;
        font-weight: 400;
    }
}

.container-properties{
    max-width: 1365px;
}

.properties .container-properties > div > p{
    color: #fff;
}

/* testing staged manually...
.card-img{
    width: 300px;
    height: 200px;
    background-color: red;
} */

.card-container{
    gap: 2rem;
    display: inline-flex;
    justify-content: center;
}

.card{
    width: 25rem;
    text-align: center;
    padding-bottom: 1.5rem;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 25px;

    & h1{
        padding-bottom: 0;
        color: black;
    }
}

.card-arrow{
    transition-duration: 0.2s;
    width: 2.3rem;
    margin-bottom: -3rem;
}

.card-arrow:hover{
    scale: 150%;
    /*color: #75c9c9;*/
    filter: invert(77%) sepia(11%) saturate(1218%) hue-rotate(131deg) brightness(95%) contrast(87%);
}

.card-text{
    font-weight: 360;
}



/*Coming section-----------------------------------*/
.surveys{
    padding: var(--contPadd);
    background-color: var(--bgc2);
}

.contact{
    padding: var(--contPadd);
    background-color: var(--bgc1);
}


.other{
    width: 100%;
    height: 750px;
    background-color: #fff;
}

/*footer section-----------------------------------*/

.footer{
    max-width: 1365px;
    display: flex;
    flex-direction: row;
}

.footer-contact{
    padding: 10rem 6%;
    font-size: 3.5rem;
    /* display: flex;
    flex-direction: row; */
    background-color: #2B3035;
    color: #fff;
} 

.footer-container{
    width: 35%;
    
}

.footer-container > h1{
    padding-bottom: 2rem;
}

.footer-container > h2{
    padding-top: 2rem;
    padding-bottom: 1rem;
}


.footer-container{
    /* background-color: #FFFEF6; */

    & a{
        text-decoration: none;
    }

    & button{
        width: 260px;
        height: 60px;
        background-color: #25d366;
        border: none;
        border-radius: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

        & img{
            margin: 0;
        }
    }
}

.footer-map{
    /* background-color: #FFFEF6; */
    margin: auto;
    width: 65%;
}

.footer-map iframe{
    border-radius: 10px;
}

/* ---------------- HERE START MEDIA QUERIES ---------------- */
/* ---------------------------------------------------------------- */

/*Media queries //  EXRTA SMALL devices------------------------------------*/

@media only screen and (min-width: 0px) and (max-width: 320px) {

    /*Header------------------------------------------*/
    .headerTest{
        padding: 5rem 2rem;
    }
    .calmaTitle{
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .skinTitle{
        font-size: 2rem;
    }
    .header-content{
        scale: 0.5 ;
    }

    .container-knowme{
        flex-direction: column;
        scale: 0.8;
        gap: 1rem;
    }

    .know-me{
        & h1{
            padding-bottom: 0rem;
        }
    }

    .knowme-img > img{
        width: 300px;
    }

    .knowme-text{
        width: 100%;
    }

    /*Properties------------------------------------------*/*/

    .properties{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .container-properties{
        width: 100%;
        
    }

    .container-properties p{
        font-size: 1rem;
    }

    .properties div h1{
        font-size: 2rem;
        width: 100%;
    }
}

/*Media queries //  SMALL devices------------------------------------*/
@media only screen and (min-width: 321px) and (max-width: 480px) { /*NOTE: use max width for better responsive desidgn------------------------------------*/
    /* Header------------------------------------*/
    .headerTest{
        padding: 13rem 3rem;
    }
    .calmaTitle{
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .skinTitle{
        font-size: 2rem;
    }

    .header-content{
        scale: 0.5;
    }
    /* know me section------------------------------------*/ 
    .container-knowme{
        flex-direction: column;
        scale: 0.9;
        gap: 1rem;
    }

    .know-me{
        height: 850px;
    }

    .know-me h1{
        font-size: 2.5rem;
    }

    .knowme-img > img{
        width: 250px;
    }

    .knowme-text{
        width: 100%;
        text-align: center;
    }

    .knowme-text p{
        font-size: 1.2rem;
    }

    .knowme-text button{
        text-align: center;
    }

    /*Properties------------------------------------------*/
    .container-properties div h1{
        font-size: 2rem;
    }
    .container-properties div p{
        font-size: 1rem;
    }
    .properties{
        padding: 4rem 1rem;
    }

    .properties > div > h1{
        text-align: center;
    }

    /*Footer------------------------------------------*/
    .footer{
        flex-direction: column;
    }

    .footer-contact{
        padding: 4rem 2rem;
        flex-direction: column;
    }

    .footer-container{
        width: 100%;
    }

    .footer-container a button{
        width: 220px;
    }

    .footer-map{
        width: 100%;
    }

    .footer-map > iframe{
        height: 300px;
    }
}

/*Media queries //  MEDIUM devices------------------------------------*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    /*HEADER*/
    .headerTest{
        padding: 7rem 3rem;
    }
    .calmaTitle{
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .skinTitle{
        font-size: 3rem;
    }

    /*KNOW ME*/
    .know-me{
        height: 1050px;
    }
    .container-knowme{
        flex-direction: column;
        /* scale: 0.9; */
        /* gap: 1rem; */
    }
    
    .knowme-img > img{
        width: 400px;
    }
    .knowme-text{
        width: 100%;
        /* text-align: center; */
    }

    /*Nuestros Servicios-----------------------------------*/
    .properties{
        padding: 7rem 1.2rem;
    }

    .container-properties div h1{
        font-size: 2.1rem;
    }

    .properties .container-properties > div > p{
        font-size: 1.2rem;
    }

    /*footer section-----------------------------------*/
    .footer{
        flex-direction: column;
    }

    .footer-contact{
        flex-direction: column;
        height: 800px;
        padding: 5rem 6%;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        text-align: left;
    }
    .footer-map{
        width: 100%;
    }
    .footer-map > iframe{
        height: 300px;
    }
    
    
}

/*Media queries //  MEDIUM devices------------------------------------*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /*HEADER SECTION ----------------*/
    .headerTest{
        padding: 8rem 3rem;
    }

    .calmaTitle{
        font-size: 5rem;
        font-weight: 500;
        margin-bottom: 0px;
    }

    .skinTitle{
        font-size: 4rem;
    }

    /*KNOW ME -------------------*/
    .know-me{
        height: 1050px;
    }
    .container-knowme{
        flex-direction: column;
    }
    .knowme-img > img{
        width: 500px;
    }
    .knowme-text{
        width: 100%;
        /* text-align: center; */
    }

    /*footer section-----------------------------------*/
    .footer{
        flex-direction: column;
    }
    .footer-contact{
        flex-direction: column;
        height: 800px;
        padding: 5rem 6%;
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        text-align: left;
    }
    .footer-map{
        width: 100%;
    }
    .footer-map > iframe{
        height: 300px;
    }
}

/*Media queries //  lARGE DEVICES devices------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .know-me{
        height: 900px;
    }
    .container-knowme{
        flex-direction: column;
    }
    .knowme-img > img{
        width: 550px;
    }
    .knowme-text{
        width: 100%;
        /* text-align: center; */
    }
}

