/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,700;0,800;1,700&family=Poppins:wght@100;200;300;400&display=swap');

:root{
    --bgc1: #cae4eb;
    --bgc2: #FFFEF6; 
    --contPadd: 3% 6%;
    --bs-border-width: none;
}

*{
    /* font-family: Poppins; */
    margin: 0 auto;
}

.contDimensions{
    height: 750px;
    width: 100%;
}

.navbar{
    background-color: black;
}

/*.filter-bluesite{
    filter: invert(77%) sepia(11%) saturate(1218%) hue-rotate(131deg) brightness(95%) contrast(87%);
}*/

/*Header-----------------------------------*/
.headerTitle{
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    max-width: 500px;
    /* position: absolute; */
    left: 10%;
    /* font-family: Kanit, sans-serif; */
    margin: 0 auto;
    text-shadow: 5px 1px 55px #fff;
}

.headerTitle > h1{
    letter-spacing: 20px;
    
}

.headerTitle > p{
    letter-spacing: 5px;
    text-align: center;
    margin-top: -25px;
}

.header-logo{
    padding-bottom: 5rem;
}

.header{
    background-image: url("./images/header3.jpeg");
    background-position: center;
    background-size: cover;
    background-position-x: center;
    padding: var(--contPadd);*/
    background-color: var(--bgc1); /*revisar despues con mas detalle*/
    & h1{
        font-size: 5rem;
        color: #FFF;
        

    }
    & p{
        font-size: 2rem;
        color: #FFF;
    }
    & button{
        width: 330px;
        height: 60px;
        border-radius: 20px;
        border: none;
        background-color: #75c9c9;
        color: #fff;
    }
}

/*Knowme section-----------------------------------*/
.know-me{
    padding: var(--contPadd);
    overflow-y: scroll;
    background-color: var(--bgc2);
    & h1{
        padding-bottom: 2rem;
        font-size: 3.5rem;
        font-weight: 400;

    & img{
        width: 350px;
    }
    }
}

.know-cont{
    display: flex;
    flex-direction: column;
}

knowme-text, p{
    font-size: 1.5rem;
    
}

.container-knowme{
    gap: 5rem;
}

.know-img{
    width: 50%;

}

.know-img, img{
    border-radius: 20px;
}

.knowme-text{
    width: 50%;
    font-weight: 400;
    & button{
        width: 280px;
        height: 60px;
        background-color: #75c9c9;
        border: none;
        border-radius: 20px;
    }
}

/*Slider section TEST-----------------------------------*/

.sliderContainer{
    height: 700px;
}

.carousel-caption{
    
    color: black;
}

#sliderHome{
    height: 700px;
}

.divTest1{
    height: 700px;
    background-color: #ffca56;
}

.divTest2{
    height: 700px;
    background-color: #b7ffba;
}

.divTest3{
    height: 700px;
    background-color: #ffe0e2;
}

/*Properties section-----------------------------------*/
.properties{
    /*padding: var(--contPadd);*/
    padding: 5rem 10rem 5rem 10rem;
    height: 900px;
    /*background-color: var(--bgc1);*/
    background-image: url(./images/A-massage-room.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(8px);
    & h1{
        padding-bottom: 5rem;
        font-size: 3.5rem;
        color: #fff;
        font-weight: 400;
    }
}

/* testing staged manually...
.card-img{
    width: 300px;
    height: 200px;
    background-color: red;
} */

.card-container{
    gap: 2rem;
    display: inline-flex;
    justify-content: center;
}

.card{
    width: 25rem;
    text-align: center;
    padding-bottom: 1.5rem;
    /* border-radius: 20px; */
    box-shadow: 5px 5px 25px;

    & h1{
        padding-bottom: 0;
        color: black;
    }
}

.card-arrow{
    transition-duration: 0.2s;
    width: 2.3rem;
    margin-bottom: -3rem;
}

.card-arrow:hover{
    scale: 150%;
    /*color: #75c9c9;*/
    filter: invert(77%) sepia(11%) saturate(1218%) hue-rotate(131deg) brightness(95%) contrast(87%);
}

.card-text{
    font-weight: 360;
}



/*Coming section-----------------------------------*/
.surveys{
    padding: var(--contPadd);
    background-color: var(--bgc2);
}

.contact{
    padding: var(--contPadd);
    background-color: var(--bgc1);
}


.other{
    width: 100%;
    height: 750px;
    background-color: #fff;
}

/*footer section-----------------------------------*/

.footer-contact{
    /* padding-top: 10%; */
    padding: 10rem 6%;
    font-size: 3.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2B3035;
    color: #fff;
} 

.footer-container{
    width: 35%;
    
}

.footer-container > h1{
    padding-bottom: 2rem;
}

.footer-container > h2{
    padding-top: 2rem;
    padding-bottom: 1rem;
}


.footer-container{
    /* background-color: #FFFEF6; */

    & a{
        text-decoration: none;
    }

    & button{
        width: 280px;
        height: 60px;
        background-color: #25d366;
        border: none;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

        & img{
            margin: 0;
        }
    }
}

.footer-map{
    /* background-color: #FFFEF6; */
    margin: auto;
    width: 65%;
    /* background-image: url(./images/resized2.jpg);
    background-size: cover;
    background-position:bottom; */
    /* background-color: #FFFEF6;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #cae4eb, #cae4eb 17px, #FFFEF6 17px, #FFFEF6 85px );  */
    
}

/* .footer-map > iframe{
    box-shadow: 1px 1px 10px 1px;
} */


